/* LOGIN */
.login-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.style-form {
  margin: 20px 0 0;
  width: 100%;
  max-width: 280px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.style-input {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 44px;
  padding: 0 15px;
  font-size: 14px;
}
.style-button-login {
  margin: 10px 0 0;
  background: #2f8c7c;
  border-radius: 5px;
  height: 44px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  max-width: 280px;
  width: 100%;
}
.style-button-login:hover {
  background: #42a1db;
}

/* EXTRATO */
.card-saldo {
  align-items: center;
  text-align: center;
  height: 90px;
  justify-content: center;
  background: transparent !important;
  border: none !important;
}
.container-menu-empresa {
  margin-top: 30px;
}
.card-menu {
  align-items: center;
  text-align: center;
  height: 90px;
  justify-content: space-around;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  border: none !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.container-menu-administracao {
  margin-top: 30px;
}

/* LANÇAMENTO */
.container-item {
  align-items: center;
  /* padding: 10px; */
  border-radius: 4px;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.container-item-meio {
  margin: 15px 0px;
  align-items: center;
  /* padding: 10px; */
  border-radius: 4px;
  background: #c7ede6 !important;
  color: #2f8c7c !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.container-lancar-um {
  padding: 10px;
  border-radius: 4px;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12); */
}
.total-lancado {
  text-align: center;
  padding: 10px 0px;
  border-radius: 4px;
  align-items: center;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.total-categoria-lancado {
  text-align: center;
  align-items: center;
  background: #7CC9BC!important;
  color: #fff!important;
  margin-top: 10px;
  padding: 10px;
}
.total-categoria-lancado-meio {
  text-align: center;
  align-items: center;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  margin-top: 10px;
  padding: 10px;
}
.botao-lancar {
  /* width: 100%; */
  background: transparent !important;
  border: 1px solid #2f8c7c!important;
  color: #2f8c7c !important;
}
.botao-remover {
  width: 100%;
  background: transparent !important;
  border: none!important;
  /* border-radius: 4px!important; */
  color: #2f8c7c !important;
}
.botao-lancar:hover {
  background: #2f8c7c !important;
  color: white !important;
}

/* USUARIO */
.container-usuario{
  margin-top: 15px;
  border-radius: 4px;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  border: 1px solid #ddd!important;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12); */
}

/* CATEGORIAS */
.container-categoria{
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  background: #f9f7f7 !important;
  color: #2f8c7c !important;
  border: 1px solid #ddd!important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}
.col-style{
  padding: 0px 5px!important;
  display: flex;
  align-items: center;
}
